body{
    margin: 0px;
    padding: 0px;
    
}

/* Introduction */

#con1{
    margin: auto;
    padding: 0px;
    height: 1000px; 
    width: 1920px;  
    background: linear-gradient(rgba(255, 254, 252, 0.5), rgba(254, 250, 245, 1)); 
}
#con1-c{
    margin: auto; 

    padding: 0px;
    height: 569px; 
    width: 1920px;  
    background: linear-gradient(rgba(255, 254, 252, 0.5), rgba(254, 250, 245, 1)); 
}
.t1{
    display: none;
}
.nav{
    margin: auto;
    margin-top: 23px;
    height: 46px;
    width: 1251px;
    margin-bottom: 120px;
}
.nav-1{
    font: SF Pro Display;
    font-weight: 700;
    font-size: 20px;
    padding-left: 14px;
    padding-top: 2px;
    color: rgba(2, 7, 62, .8);
}
.nav-2{
    margin-top: 5px;
    font: DM Sans;
    height: 33px;
    width: 502px; 
    font-size: 15px;
    align-items: center;
}
.but1{
    font: DM Sans;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: 195px;
    height: 45px;
    background-color: rgba(250, 191, 98, 1);
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
}
#con2{
    margin: auto;
    width: 1266px;
}
.con2-1{
    margin: auto;
    height: 633px;
    width: 570px;
}
.con2-2{
    margin: auto;
    height: 633px;
    width: 696px;
}
.s1{
    font: DM sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    color: rgba(2, 7, 62, .9);
}
.s2{
    padding: 0px;
    font: DM sans;
    color: white;
    background-color: rgba(250, 191, 98, 1);
    margin-right: 12px;
    font-size: 13px;
    font-weight: 400;
    width: 60px;
    height: 24px;
}
.s3{
    color: rgba(2, 7, 62, 1);
    font: DM sans;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.s4{
    margin-top: 15px;
    color: rgba(2, 7, 62, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}
.s5{
    background-color: rgba(250, 191, 98, 1);
    box-shadow: 3px 3px 7px rgb(188, 188, 188);
}
.s6{
    background-color: white;
    box-shadow: 3px 3px 7px rgb(188, 188, 188);
}

/* Services */

#con3{
    margin: auto;
    margin-top: 57px;
    margin-bottom: 175px;
}
.b1{
    text-align: center;
    color:rgba(235, 167, 61, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}
.b2{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
}
.b3{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.b4{
    color:rgba(52, 61, 72, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.c1{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    letter-spacing: -1px;    
}
.c2{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}
.c3{
    color:rgba(79, 150, 255, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}
.c4{
    color:rgba(79, 150, 255, 1);
    font-size: 16px;
    font: DM sans;
}

/* Videocall Support */

#con4{
    border: 2px solid rgba(28, 62, 88, 0.12);
}
.bi1{
    position: absolute;
}
.i1{
    top: 1879px;
    left: 336px;
}
.i2{
    top: 2177px;
    left: 1264px;
}
.i3{
    margin-left: 475px;
    top: 2285px;
}
.i4{
    z-index: -1;
    top: 1886px;
    left: 1323px;
}
.i5{
    z-index: -1;
    top: 2225px;
    left: 605px;
}

/* Deals */

#con5{

}
.grd{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.grd1:hover{
    box-shadow: 3px 3px 7px rgb(188, 188, 188);
}
.grd1s:hover{
    box-shadow: 3px 3px 7px rgb(188, 188, 188);
}
.dg1{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(162, 168, 177);
    color:rgba(52, 61, 72, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.dg1nb{
    display: flex;
    align-items: center;
    color:rgba(52, 61, 72, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.grd1{
    display: grid;
    grid-template-rows: 168px 260px 222px;
    border: 1px solid rgb(162, 168, 177);
    border-radius: 10px;
}
.grd1s{
    display: grid;
    grid-template-rows: 168px 260px 222px;
    border: 1px solid rgb(162, 168, 177);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dg2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(162, 168, 177);
    color:rgba(52, 61, 72, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.dg2nb{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:rgba(52, 61, 72, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.f1{
    color:rgba(15, 33, 55, .7);
    font: DM sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.fd1{
    color:rgba(15, 33, 55, );
    font: DM sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.55px;
    text-align: center;
}
.fds1{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.55px;
    text-align: center;
}
.db1{
    background-color: white;
    border: 1px solid rgba(255, 192, 89, 1);
    color: rgba(255, 192, 89, 1);
    border-radius: 5px;
    font: DM sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 40px;
}
.ds1{
    color: rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.db1:hover{
    background-color: rgba(255, 192, 89, 1);
    color: white;
}
.dst{
    background-color: rgba(82, 172, 255, 1);
    color:rgb(255, 255, 255);
    font: DM sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    border: 1px solid rgba(82, 172, 255, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.re{
    background-color: rgba(82, 172, 255, 1);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font: DM sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}


/* Agencies */

#con6{

}
.a1{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    letter-spacing: -.5px;  
}
.a2{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}

/* Features */

#con7{
    background-color: rgba(53, 52, 72, 1);
    width: 1920px; 
} 
.e1{
    color:rgba(235, 167, 61, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
.e2{
    color:rgb(255, 255, 255);
    font: DM sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}
.d1{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.5px;
    text-align: center;
}
.f1-1{
    color: white;
    font: DM sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.f1-2{
    color:rgb(255, 255, 255);
    font: DM sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.f1-3{
    color:rgb(255, 255, 255);
    font: DM sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

/* Q&A */

.q1{
    border-bottom: 2px solid rgba(15, 33, 55, 1);
}
.qs1{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -.5px;
}
.qs2{
    color:rgba(52, 61, 72, 1);
    font: DM sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
}

/* Heros behind */

.sh1{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -1px;
}
.sh2{
    color:rgba(15, 33, 55, 1);
    font: DM sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

/* Ask Question */

#con9{
    background: linear-gradient(to bottom, rgb(255, 255, 255) 16%, rgba(249, 250, 252, 1) 16%);
}
.aq1{
    background-color: rgba(24, 54, 86, 1);
    border-radius: 15px;
}
.aq2{
    color:rgb(255, 255, 255);
    font: DM sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -1px;
}
.aq3{
    height: 60px;
    width: 260px;
    background-color:rgb(255, 255, 255);
    font: DM Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.13px;
    letter-spacing: 0.1em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 5px;
}
.aq4{
    font: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.aq6{
    font: DM Sans;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.aq7{
    font: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.aq8{
    font: DM Sans;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

/* Contact form */
#con10{
    background-color: rgba(249, 250, 252, 1);
}
.xcf{
    display: none;
}
.cf1{
    font: DM Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 52.08px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.cf2{
    background-color: white;
    border-radius: 15px;
}
.cf3{
    color: rgba(128, 128, 128, 1);
    font: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.cf4{
    border-bottom: 2px solid rgba(128, 128, 128, 1);
}
.cf{
    background-color: rgba(250, 191, 98, 1);
    color: white;
}

/* question */

.cq1{
    color: rgba(15, 33, 55, 1);
    font: DM Sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1px;
}
.cq2{
    color: rgba(15, 33, 55, 1);
    font: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}
.cs1{
    color: rgba(15, 33, 55, 1);
    font: DM Sans;
    font-size: 58px;
    font-weight: 600;
    line-height: 75px;
}
.cs2{
    color: rgba(15, 33, 55, 1);
    font: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.cs3{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cs4{
    background-color: rgba(250, 191, 98, 1);
    color: white;
    border-radius: 5px;
}
.qc{
    font: DM Sans;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    text-align: left;
    font-weight: 600;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-bottom: 1px solid rgba(229, 236, 244, 1);
}
@media only screen and (max-width: 1675px)
{
    .i1{
        top: 1879px;
        left: 170px;
    }
    .i2{
        top: 2177px;
        left: 1100px;
    }
    .i4{
        z-index: -1;
        top: 1886px;
        left: 1100px;
    }
    .i5{
        z-index: -1;
        top: 2225px;
        left: 400px;
    }
    
}
@media only screen and (max-width: 500px){
    #con1{
        width: 430px;
    }
    #con1-c{
        width: 430px;
    }
    .t1{
        display: inline-block;
        position: absolute;
        top: 28px;
        right: 7px; 
    }  
    .nav{
        width: 410px; 
        height: 37px;
        justify-content: space-around;
    }
    .nav-1{
        padding-left: 10px;
        height: 37px;
        width: auto; 
        font: SF Pro Display;
        font-weight: 500;
        font-size: 16px;
        padding-top: 2px;
        color: rgba(2, 7, 62, .8);
    }
    .nav-2{
        display: none;
    }
    .but1{
        font: DM Sans;
        color: rgba(255, 255, 255, 1);
        width: 100px;
        height: 35px;
        background-color: rgba(250, 191, 98, 1);
        border-radius: 5px;
        font-size: 12px;
        line-height: 18px;
    }
    #con2{
        display: inline;
        width: 430px;
    }
    .con2-1{
        width: 430px;
        height: 500px;
    }
    .s1{
        margin-left: 20px;
    }
    .s3{
        text-align: center;
        width: 430px;
        height: 122px;
        font-size: 35px;
        font-weight: 500;
        line-height: 40px;
    }
    .s4{
        text-align: center;
        width: 430px;
        height: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }
    .s5{
        margin-left: 45px;
    }
    .con2-2{
        width: 430px;
    }
    .con2-2 img{
        margin:auto;
        width: 410px;
        height: 280px;
    }
    .x3{
        width: 430px;
        height: 700px;
        text-align: center;
        margin-bottom: 20px;
    }
    .x4{
        width: 430px;
        height: 420px;
        flex-direction: column;
        text-align: center;
        margin-top: 45px;
    }
    .x5{
        margin-left:5px;
    }
    .x6{
        width: 425px;
        height: 600px;
    }
    .c1{
        width: 420px;
        height: 90px;
    }
    .c2{
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        width: 420px;
        height: 90px;
    }
    .x7{
        width: 430px;
        height: auto; 
    }
    .x7 img{
        width: 420px;
        height: auto;
    }
    .bi1{
        display: none;
    }
    .i3{
        width: 130px;
        height: auto;
        display: inline-block;
        top: 2450px;
        margin-left: 145px;
    }
    .i1{
        width: 130px;
        height: auto;
        display: inline-block;
        top: 2260px;
        left: 50px;
    }
    .i2{
        
        width: 130px;
        height: auto;
        display: inline-block;
        top: 2350px;
        left: 280px;
    }
    .x8{
        display: none;
    }
    .dh{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        margin-bottom: 50px;
    }
    .e1{
        margin-top: 50px;
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .d1{
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .dh1{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        background-color: antiquewhite;
        border-radius: 25px;
        justify-content: center;
        font: DM Sans;
        font-size: 18px;
        font-weight: 500px;
    }
    .x9{
        width: 430px;
    }
    .a2{
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        width: 420px;
        height: 90px;
    }
    .x10{
        height: auto;
    }
    .c3{
        font-size: 15px;
    }
    .c4{
        font-size: 15px;
    }
    #con7{
        width: 430px;
    }
    .x11{
        flex-direction: column;
        width: 400px;
        justify-content: space-around;
        align-items: center;
    }
    .x12{
        width: 400px;    
    } 
    .x13{
        flex-direction: column;
        height: 1350px; 
    }
    .x14{
        width: 400px;
    } 
    .sh1{
        width: 400px;
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
    }
    .sh2{
        width: 400px;
        height: 100px; 
    }
    #con9{
        width: 430px;
    }
    .aq2{
        width: 150px;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    } 
    .aq3{
        width: 150px;
    } 
    .x15{
        width: 430px;
        flex-direction: column;
        justify-content: space-around;
    }
    .x16{
        width: 430px;
        justify-content: space-around;
    }
    .x17{
        height: 120px;
        width: 90px;
    }
    .aq4{
        line-height: 15px;
    }
    .aq6{
        font-size: 12px;
        line-height: 16px;
    }
    .aq7{
        font-size: 9px;
        line-height: 12px;
    }
    .xc1{
        width: 430px;
        height: 450px;
    }
    .xc2{
        height: 400px;
        margin: auto;
        margin-top: 40px; 
        width: auto;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }
    .xc3{
        justify-content: space-around;
        margin-left: auto;
    } 
    #con10{
        width: 430px; 
    }
    .cf1{
        font-size: 25px;
        line-height: 30px;
    } 
    .cf2{ 
        width: 430px;
        height: 1700px;
        flex-direction: column;
    }
    .xc4{ 
        width: 400px;
        height: auto;
        margin: auto;
    }
    .xc5{
        margin: auto;
        width: 175px;
        display: block;
    }
    .xc6{
        height: auto;
    }
    .xcf{
        display: inline-block;
        width: 175px;
        border-radius: 10px;
    }
    .xc7{
        width: 430px;
    }
    .xc8{
        width: 420px;
        margin: auto;
    }
    .cs1{
        width: 430px;
        font-size: 35px;
        line-height: 40px;
    }
    .cs2{
        width: 430px;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 50px;
    }

}

